#contact{
    padding: 50px;
    font-size: 2em;
}

#contact a:hover{
    transition: 0.3s ease;
    color: purple;
}

#contact a{
    font-size: 1em;
}

#hello{
    color: rgb(68, 67, 67);
    font-size: 1.2em;
}